{% extends "base.html" %} 

{% block body %}
    <div id="backdrop">
    <div class="db row align-items-center">
        <div class="text-center w-100">
        <p class="error-bold mb-3">Error<br />500</p>
        <p class="error-text1">
            An unexpected error has occurred.<br />Please notify the administrator
            has been notified. Sorry for the inconvenience!
        </p>
        <div class="">
            <a
            class="btn btn-school ml-0"
            href="{{ url_for('home') }}"
            role="button"
            >Go To Home page</a
            >
        </div>
        </div>
    </div>
    </div>
{% endblock %}
