  {% extends 'base.html' %}
  
  {% block title %}
  Boarding School Experts | Contact Us
  {% endblock %}
  
  {% block body %}
  <section id="c-hb">
    <hr class="section-bar">
    <div class="row px-xl-6">
      <div class="col-md-4 a-box">
        <div class="mb-0">
          <i class="fas fa-phone-alt fa-2x"></i>
        </div>
        <p class="ca-title">call us</p>
        <p class="ca-text">+234 814 849 3618</p>
      </div>
      <div class="col-md-4 a-box">
        <div class="mb-0">
          <i class="fas fa-envelope fa-2x"></i>
        </div>
        <p class="ca-title">email</p>
        <p class="ca-text"><a href="mailto:info@boardingschoolsexperts.com" target="_blank">info@boardingschoolsexperts.com</a></p>
      </div>
      <div class="col-md-4 a-box">
        <div class="mb-0">
          <i class="fas fa-map-marker-alt fa-2x"></i>
        </div>
        <p class="ca-title">address</p>
        <p class="ca-text">7, Aje Street, Sabo-Yaba, Lagos, Nigeria</p>
      </div>
    </div>
    <div class="container pt-4">
      <div class="mt-5 mb-4 text-center">
        <p class="section-title">Contact Us</p>
        <p class="mb-0" style="font-weight: 400">
          Reach us through any of our channels. We will be happy to engage
          with you.
        </p>
      </div> 
     
      <div
        class="col-lg-10 col-xl-7 mx-auto px-0 contact-form">        
        <form id="contact-form" method="POST" action="{{ url_for('contact') }}" novalidate>
          {{ form.hidden_tag() }}
          {% if success %}            
            <div class="alert alert-success text-center text-bold my-3">              
              <p>Your message has been sent! We will get in touch with you shortly.</p>
            </div>            
          {% else %}
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }} text-center text-bold mb-0">
                    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            <div class="row pt-3">
              <div class="col-md-12">
                <div class="md-form mb-0"> 
                  {{ form.name.label }}
                  {{ form.name(class="form-control") }}
                  {% for error in form.name.errors %}
                  <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="md-form mb-0">
                  {{ form.email.label }}
                  {{ form.email(class="form-control") }}
                  {% for error in form.email.errors %}
                  <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="col-lg-6">
                <div class="md-form mb-0">               
                  {{ form.phone(class="form-control", id="phone", onkeypress="return isNumberKey(event)") }}
                  {% for error in form.phone.errors %}
                  <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="md-form">
                  {{ form.message.label }}
                  {{ form.message(class="form-control md-textarea pt-2", rows=6, cols=80) }}
                  {% for error in form.message.errors %}
                  <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="g-recaptcha" data-sitekey="6LeDoY8bAAAAAEKbhmJYjyuN0HKO57BpjeqZkDxv"></div>
            <div class="text-md-left mt-3">
              {{ form.submit(class="btn btn-school ml-0") }}            
            </div>  
          {% endif %}
        </form>
      </div>
    </div>
  </section>
{% endblock %}
   
