<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PZC755D");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Boarding School Experts | Our Schools</title>

    <link rel="icon" href="../images/site-logo.png" type="image/x-icon" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;200;700&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
      rel="stylesheet"
    />
    <link
      href="../libraries/lightbox-2/dist/css/lightbox.css"
      rel="stylesheet"
    />
    <link href="../libraries/lity-2.4.1/dist/lity.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="school-style.css" rel="stylesheet" />
    <style>
      .btn.btn-lg {
        color: white;
      }

      .accord,
      .accord::after {
        color: white;
        background-color: #332a7e;
      }
    </style>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PZC755D"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="sidenav" id="sidenav">
      <a
        href="javascript:void(0)"
        class="navbtn d-block d-xl-none"
        onclick="toggleNav()"
        ><i class="fas fa-bars"></i
      ></a>
      <div id="content-wrap">
        <div class="text-center">
          <img
            src="../images/school-images/bodwell-images/logo.png"
            class="logo"
            alt="School logo"
          />
        </div>

        <div id="particulars">
          <hr />
          <p class="mb-1">Co-Educational School</p>
          <p class="mb-1">Up To 650 Students</p>
          <p class="mb-1">
            955 Harbourside Drive, North Vancouver, BC V7P3S4, Canada
          </p>
          <p class="mb-1">
            <a href="https://bodwell.edu/" style="color: #332a7e"
              >www.bodwell.edu</a
            >
          </p>
          <p class="mb-1">
            <a
              href="https://bodwell.canto.com/b/HNNJ5"
              style="color: #e9ba08"
              target="_blank"
              >Virtual Tour</a
            >
          </p>
          <hr />
        </div>

        <div class="mt-4">
          <div class="mt-1">
            <a
              href="#about"
              role="button"
              class="btn btn-colour-2 btn-lg btn-block ml-0"
              id="m-btn"
              >About school</a
            >
          </div>
          <div class="mt-1">
            <a
              href="#gallery"
              role="button"
              class="btn btn-colour-2 btn-lg btn-block ml-0"
              id="m-btn2"
              >School Pictures</a
            >
          </div>
          <div class="mt-1">
            <a
              href="#programmes"
              role="button"
              class="btn btn-colour-2 btn-lg btn-block ml-0"
              id="m-btn3"
              >School Information</a
            >
          </div>
          <div class="mt-1">
            <a
              href="#video"
              role="button"
              class="btn btn-colour-2 btn-lg btn-block ml-0"
              id="m-btn4"
              >Video Links</a
            >
          </div>
          <div class="mt-1">
            <a
              href="#website"
              role="button"
              class="btn btn-colour-2 btn-lg btn-block ml-0"
              id="m-btn5"
              >School Fees</a
            >
          </div>
        </div>
      </div>
    </div>

    <main id="main" class="p-0">
      <header class="dover"></header>
      <div id="about">
        <div class="container" id="inner">
          <div class="px-2 px-md-3 mt-3 mt-md-0">
            <p class="heading-text mb-2">Bodwell High School</p>
            <p class="body-text">
              Bodwell High School is a private, co-educational boarding school
              offering grades 8 to 12, and university preparation. Bodwell’s
              campus is located in the city of North Vancouver, British
              Columbia, Canada. Recognized as a leader among Canadian boarding
              schools, our school’s diverse student population of both local and
              international students makes it a rich and exciting place to
              learn, study, play, and build life-long memories and friendships.
              Bodwell is registered with the British Columbia Ministry of
              Education. All graduates who successfully complete their Grade 12
              academic program with Bodwell receive the Dogwood Diploma, a
              globally recognized certificate of graduation, issued by the
              province of British Columbia. Most of our students go on to seek
              post-secondary education in colleges or universities across the
              globe even after Bodwell, many with academic scholarships.<br /><br />
              Founded in September 1991, in Vancouver, BC, Canada. Moved in 2003
              to her new facilities located in Noth Vancouver, with a full-size
              gym, an indoor swimming pool, and full-service cafeteria,
              accommdaing 400 students and 150 boarders. Celebrated its 20th
              anniversary in 2011 by undertaking and completing an expansion
              project with enlarged cafeteria, additional classrooms and
              dormitories.<br /><br />The school’s community grew to 450
              students, 100 staff, and 4,500 alumni from over 60 countries. More
              expansion project took place between 2015 and 2016, with the
              addition of a new, multi-floor dormitory, housing over 500
              boarding students atop an expanded library and second gymnasium,
              wirth more classrooms and a state-of-the-art multimedia
              auditorium.<br /><br />
              Bodwell uses a flexible, balanced approach to teaching, allowing
              students to independently explore a topic of study or be guided
              through it. This allows students to find their own unique style
              and pace for learning. Spupport is always available in the
              classroom, study groups, and individual tutoring. Bodwell’s
              University and Career Guidance Team developed strong relationships
              with post-secondary institutions in Canada, U.S.A. and other
              countries, secured entrance scholarship opportunities and
              enrollment in top universities through direct entry and pathway
              programs in Arts, Humanities, Social Sciences, Sciences, Life
              Sciences, Engineering, Computer Science, Business
              Admin/Commerce/Management, Fine Arts, Communications and Film.
            </p>
            <div class="text-md-right mt-2">
              <a
                href="../webforms/new-form/apply-form.php"
                role="button"
                class="btn btn-colour-1 btn-lg ml-0"
                id="a-btn"
                >APPLY HERE</a
              >
            </div>
          </div>
        </div>
      </div>

      <div id="gallery">
        <div class="container">
          <div class="px-2 px-md-3">
            <div class="text-center">
              <p class="heading-text mb-0">School Pictures</p>
            </div>
            <div class="row justify-content-center mt-4">
              <div class="col-md-4 col-lg-3 p-3">
                <div class="zoom">
                  <a
                    href="../images/school-images/bodwell-images/1.jpg"
                    data-lightbox="school-images"
                  >
                    <img
                      src="../images/school-images/bodwell-images/1.jpg"
                      class="w-100"
                      alt="School image"
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 p-3">
                <div class="zoom">
                  <a
                    href="../images/school-images/bodwell-images/2.jpg"
                    data-lightbox="school-images"
                  >
                    <img
                      src="../images/school-images/bodwell-images/2.jpg"
                      class="w-100"
                      alt="School image"
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 p-3">
                <div class="zoom">
                  <a
                    href="../images/school-images/bodwell-images/3.jpg"
                    data-lightbox="school-images"
                  >
                    <img
                      src="../images/school-images/bodwell-images/3.jpg"
                      class="w-100"
                      alt="School image"
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 p-3">
                <div class="zoom">
                  <a
                    href="../images/school-images/bodwell-images/4.jpg"
                    data-lightbox="school-images"
                  >
                    <img
                      src="../images/school-images/bodwell-images/4.jpg"
                      class="w-100"
                      alt="School image"
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 p-3">
                <div class="zoom">
                  <a
                    href="../images/school-images/bodwell-images/5.jpg"
                    data-lightbox="school-images"
                  >
                    <img
                      src="../images/school-images/bodwell-images/5.jpg"
                      class="w-100"
                      alt="School image"
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 p-3">
                <div class="zoom">
                  <a
                    href="../images/school-images/bodwell-images/6.jpg"
                    data-lightbox="school-images"
                  >
                    <img
                      src="../images/school-images/bodwell-images/6.jpg"
                      class="w-100"
                      alt="School image"
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 p-3">
                <div class="zoom">
                  <a
                    href="../images/school-images/bodwell-images/7.jpg"
                    data-lightbox="school-images"
                  >
                    <img
                      src="../images/school-images/bodwell-images/7.jpg"
                      class="w-100"
                      alt="School image"
                    />
                  </a>
                </div>
              </div>
              <div class="col-md-4 col-lg-3 p-3">
                <div class="zoom">
                  <a
                    href="../images/school-images/bodwell-images/8.jpg"
                    data-lightbox="school-images"
                  >
                    <img
                      src="../images/school-images/bodwell-images/8.jpg"
                      class="w-100"
                      alt="School image"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="programmes">
        <div class="container">
          <div class="px-2 px-md-3">
            <div class="text-center">
              <p class="heading-text mb-0">Schooling At Bodwell High School</p>
            </div>

            <div class="mt-4">
              <div class="accord">Boarding Facilities</div>
              <div class="plane">
                <p class="mb-0">
                  Boarding capacity able to hout about 500 students. Boys and
                  girls live in separate halls on different floors and wings.
                  Each hall is a small neighbourhood run by an advisor,
                  <span id="dots2">...</span
                  ><span id="more2"
                    >who acts as a boarding parent, looking after the needs of
                    each student. Each hall has an office for private
                    conversations and mentorship from staff.<br /><br />All
                    halls feature a student lounge with a kitchenette, along
                    with common bathrooms, laundry machines, and storage All
                    bedrooms have windows for natural light and most have
                    breathtaking views of either the waterfront or the
                    mountains. Bedrooms vary in design and number of roommates,
                    with most ranging from 2 to 4 boarders. Each student has a
                    bed, desk and wardrobe for their belongings.
                  </span>
                </p>
                <button
                  onclick="myFunction2()"
                  class="btn btn-link mb-2"
                  id="myBtn2"
                >
                  Show More
                </button>
              </div>

              <div class="accord">Academic Programmes</div>
              <div class="plane">
                <p class="mb-0">
                  <span class="show">Two terms (5 courses/term):</span
                  ><br />Fall (Sept. – Feb.), Spring (Feb. – June). Regular
                  Academic Program (RAP), Academic & English
                  <span id="dots">...</span
                  ><span id="more"
                    >Preparation (AEP), University Preparation. Programs are in
                    compliance with the British Columbia Ministry of Education
                    requirement. Successful students receive the Dogwood Diploma
                    (high school diploma issued by the BC Ministry of
                    Education).
                  </span>
                </p>
                <button
                  onclick="myFunction()"
                  class="btn btn-link mb-2"
                  id="myBtn"
                >
                  Show More
                </button>
              </div>

              <div class="accord">Extra-Curricular Activities</div>
              <div class="plane pb-4">
                <p class="mb-0">
                  Sports (inc. Soccer, Basketball, Vollyball, Track & Field,
                  Swimming, Badminton,Skiing and Snowboarding, etc.)
                </p>
              </div>

              <div class="accord">Pastoral Care Programme: N/A</div>
              <div class="plane">
                <p class="mb-0">
                  <span class="show">Counselling:</span><br />
                  Bodwell staff include multilingual counsellors who advise
                  students on academics, post-secondary planning,
                  <span id="dots4">...</span
                  ><span id="more4"
                    >health, and personal well-being, as well as work on
                    emotional / relational problem solving skills. They provide
                    emotional support to young minds finding their way to
                    adulthood.Students and parents can comfortably talk with the
                    counsellors in their preferred languages.</span
                  >
                </p>
                <button
                  onclick="myFunction4()"
                  class="btn btn-link mb-2"
                  id="myBtn4"
                >
                  Show More
                </button>
              </div>

              <div class="accord">Fun Facts</div>
              <div class="plane">
                <p class="mb-0">
                  <span class="show">Fun Facts:</span><br />
                  - 97% of graduates are accepted to college or university right
                  after graduating.<span id="dots3">...</span
                  ><span id="more3"
                    ><br />
                    - 87% of graduates are attending a college or university in
                    North America.<br />
                    - 68% of all offers for graduates are from top ranked
                    universities.
                  </span>
                </p>
                <button
                  onclick="myFunction3()"
                  class="btn btn-link mb-2"
                  id="myBtn3"
                >
                  Show More
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="video">
        <div class="container">
          <div class="text-center px-2 px-md-3">
            <p class="heading-text mb-0">Video Links</p>
            <div class="mt-4 d-flex justify-content-center flex-wrap">
              <div class="col-lg-7 p-0 pr-lg-4">
                <div class="py-2">
                  <a
                    href="https://www.youtube.com/watch?v=bx-mV6wmc0w"
                    data-lity
                  >
                    <img
                      src="../images/youtube-thumbnails/bodwell/1.jpg"
                      class="w-100 z-depth-1"
                      alt="Link thumbnail"
                    />
                  </a>
                </div>
              </div>

              <div class="col-lg-5 row row-cols-2 cast p-0">
                <div class="col p-2">
                  <a
                    href="https://www.youtube.com/watch?v=laZcIrYzziU"
                    data-lity
                  >
                    <img
                      src="../images/youtube-thumbnails/bodwell/2.jpg"
                      class="w-100 z-depth-1"
                      alt="Link thumbnail"
                    />
                  </a>
                </div>

                <div class="col p-2">
                  <a
                    href="https://www.youtube.com/watch?v=kZ5kCeqzZ1I"
                    data-lity
                  >
                    <img
                      src="../images/youtube-thumbnails/bodwell/3.jpg"
                      class="w-100 z-depth-1"
                      alt="Link thumbnail"
                    />
                  </a>
                </div>

                <div class="col p-2">
                  <a
                    href="https://www.youtube.com/watch?v=jTvFPXNw-1w"
                    data-lity
                  >
                    <img
                      src="../images/youtube-thumbnails/bodwell/4.jpg"
                      class="w-100 z-depth-1"
                      alt="Link thumbnail"
                    />
                  </a>
                </div>

                <div class="col p-2">
                  <a
                    href="https://www.youtube.com/watch?v=8UXehERz984"
                    data-lity
                  >
                    <img
                      src="../images/youtube-thumbnails/bodwell/5.jpg"
                      class="w-100 z-depth-1"
                      alt="Link thumbnail"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="website">
        <div class="container">
          <div class="col-xl-9 mx-auto text-center px-2 px-md-3">
            <div class="col-lg-6 mx-auto text-center">
              <img
                src="../images/school-images/bodwell-images/logo.png"
                class="logo-2"
                alt="School logo"
              />
            </div>
            <div class="px-3 pt-4">
              <div class="d-flex justify-content-center flex-wrap">
                <div class="col-md-6 p-2">
                  <a
                    href="../webforms/new-form/apply-form.php"
                    role="button"
                    class="btn btn-colour-1 btn-lg btn-block ml-0"
                    id="a-btn2"
                    >APPLY HERE</a
                  >
                </div>
                <div class="col-md-6 p-2">
                  <a
                    href="../fees/bhs_fee schedule_2020-21_v01_21.pdf"
                    role="button"
                    target="_blank"
                    class="btn btn-colour-2 btn-lg btn-block ml-0"
                    id="m-btn6"
                    >see fees</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer></footer>
    </main>

    <!-- JQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"
    ></script>
    <script src="../libraries/lightbox-2/dist/js/lightbox.js"></script>
    <script src="../libraries/lity-2.4.1/dist/lity.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="../js/template-script.js"></script>
    <script>
      $(document).ready(function () {
        $("header").css({ "background-color": "#332a7e" });
        document.getElementById("a-btn").style.backgroundColor = "#332a7e";
        document.getElementById("a-btn2").style.backgroundColor = "#332a7e";
        document.getElementById("m-btn").style.backgroundColor = "#e9ba08";
        document.getElementById("m-btn2").style.backgroundColor = "#e9ba08";
        document.getElementById("m-btn3").style.backgroundColor = "#e9ba08";
        document.getElementById("m-btn4").style.backgroundColor = "#e9ba08";
        document.getElementById("m-btn5").style.backgroundColor = "#e9ba08";
        document.getElementById("m-btn6").style.backgroundColor = "#e9ba08";
        document.getElementById("f-btn").style.backgroundColor = "#e9ba08";
      });
    </script>
  </body>
</html>
