{% extends 'base.html' %}

{% block title %}
Boarding School Experts | Submit Documents Form
{% endblock %}

{% block style %}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/file-upload-with-preview/4.1.0/file-upload-with-preview.min.css"
  integrity="sha512-joKDvh+eAWoVNKsL6T1spjb9TUTVLKzp9kD+BsfkKmy3RiwKlBK2A0fqSBmPOG0RW9jTvpNDjkX0Z02d3A6jbA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}
  <div class="bit-dark">
    <div id="application-form">
      <div class="container">
        <div class="row flex-column">
          <div class="text-md-center">
            <p class="form-bold mb-0 px-3">Document Upload Form</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9 col-xl-8 mx-auto">
            <form class="form-container upload-form" id="upload-form" method="POST" action="" enctype="multipart/form-data" novalidate>
              {{ form.hidden_tag() }}
              
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <div class="alert alert-{{ category }} text-center text-bold mb-0">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              <div class="mb-md-4">
                <div class="row mb-0">
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      {{ form.name.label }}
                      {{ form.name(class="form-control") }}
                      {% for error in form.name.errors %}
                      <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
              
                  <div class="col-md-12">
                    <div class="md-form mb-0">
                      {{ form.school.label }}
                      {{ form.school(class="form-control") }}
                      {% for error in form.school.errors %}
                      <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
              
                  <div class="col-md-12 col-xl-6">
                    <div class="md-form mb-0">
                      {{ form.email.label }}
                      {{ form.email(class="form-control") }}
                      {% for error in form.email.errors %}
                      <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
              
                  <div class="col-md-12 col-xl-6 mb-3">
                    <div class="md-form mb-0">
                      {{ form.phone(class="form-control", id="phone7", onkeypress="return isNumberKey(event)") }}
                      {% for error in form.phone.errors %}
                      <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
              
                  <div class="col-md-12 mt-2">                   
                    <div class="custom-file-container" data-upload-id="Upload6">
                      <p class="show2 mt-2 mb-0">Upload Application Form And Documents (PDF) <a href="javascript:void(0)"
                          class="custom-file-container__image-clear" title="Clear Image">&times;</a></p>
                      <label class="custom-file-container__custom-file">
                        {{ form.docs(class="custom-file-container__custom-file__custom-file-input", accept=".doc, .docx, .pdf") }}                        
                        <span class="custom-file-container__custom-file__custom-file-control"></span>
                      </label>
                      {% for error in form.docs.errors %}
                      <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                      {% endfor %}
                      <div class="custom-file-container__image-preview"></div>
                    </div>
                  </div>
                  <div class="g-recaptcha" data-sitekey="6LeDoY8bAAAAAEKbhmJYjyuN0HKO57BpjeqZkDxv"></div>
                  <div class="col-md-12 ml-0 mt-2">
                    {{ form.submit(class="btn btn-school-light mx-0") }}                    
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/file-upload-with-preview/4.1.0/file-upload-with-preview.min.js"
    integrity="sha512-Z41LlJOURucboITRl9uL5Y7GNfyxqS6+i9THsMWsOpvStxQjY/uGmU+5a3+4ddXeHZcUXZTeHI272bZPWkGF3w=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    var input7 = document.querySelector("#phone7");
    window.intlTelInput(input7, {
        initialCountry: "auto",
        geoIpLookup: function (callback) {
          $.get("https://ipinfo.io", function () { }, "jsonp").always(function (resp) {
            var countryCode = resp && resp.country ? resp.country : "ng";
            callback(countryCode);
          });
        },
        utilsScript:
          "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.13/js/utils.js"
      });

      var upload = new FileUploadWithPreview('Upload6')
  </script>
{% endblock %}