body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f3f6;
}

/* home.html */
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url("../images/svg/admin-login.svg");
  background-color: #f2f3f6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  z-index: 0;
}

@media (max-width: 365px) {
  .home {
    height: 120vh;
  }
}

.home-logo {
  width: 225px;
}

.home-text {
  font-size: 18px;
  font-weight: 400;
  color: #232323;
}

.hover-card {
  padding: 3.5rem;
  background-color: rgba(251, 251, 251, 0.85);
  box-shadow: 1px 10px 20px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.caption {
  font-size: 2rem;
  font-weight: 500;
  color: #003116;
}


.btn-school-light {
  background-color: #9fbe49;
  color: white;
  padding: .8rem 1.6875rem;
  font-size: 0.95rem;
  line-height: 1.6;
}

.btn-school-light:hover {
  background-color: #9fbe49;
  color: white;
}


@media (max-width: 575px) {
  .caption {
    font-size: 1.35rem;
  }

  .hover-card {
    padding: 3rem 1.75rem;
  }
}
/* home.html */

/* admin-dashboard.html */
.btn-school-light {
  background-color: #9fbe49;
  color: white;
  font-size: 0.95rem;
}

.btn-school-light:hover {
  background-color: #9fbe49;
  color: white;
}

.dash-logo{
  width: 45px;
}

/* admin-dashboard.html */

.lb-text {
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-bottom: 0;
}

footer {
  background-color: #232323;
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
}


/* Sidenav */
.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1500;
  top: 0;
  left: 0;
  background-color: #6e8826;
  overflow-x: hidden;
  padding: 2.75rem 1.65rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.sidenav .group {
  position: absolute;
  top: 15px;
  right: 0px;
  font-size: 36px;
  margin-left: 50px;
  color: #232323;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-2px, 1px);
  transform: rotate(-45deg) translate(-2px, 1px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.lb-text {
  color: #eee;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-bottom: 0;
}

ul.menu {
  list-style: none;
  margin-block-start: 0;
  padding-inline-start: 1px;
  margin-top: 2rem;
}

ul.menu li {
  padding-left: 0;
}

.fix:hover,
.active {
  color: #fff;
  background-color: #9db853;
  border-top: 1px solid #6e8826;
}

/* ul.menu li .fix:focus {
  color: #fff;
  background-color: #93b9d2;
  border-top: 1px solid #2b6481;
} */

.fix {
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 0.85rem 1rem;
  letter-spacing: 0.5px;
  border-radius: 3px;
  border-top: 1px solid #9db853;
}

.material-icons.md-20 {
  font-size: 20px;
}

.mi {
  position: relative;
  top: 2px;
  margin-left: 0.5rem;
}

.shape {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
}
.shape-products {
  background-image: url(../images/svg/products.svg);
}
/* .shape-products:hover,
.shape-products:focus {
  background-image: url(../images/svg/products.svg);
} */

.shape-referrals {
  background-image: url(../images/svg/referrals.svg);
}

.shape-agents {
  background-image: url(../images/svg/request-agent.svg);
}

.shape-policy {
  background-image: url(../images/svg/policy.svg);
}
/* Sidenav */

#main-navbar {
  margin-left: 240px;
  box-shadow: 0px 3px 21px 0px rgb(0 0 0 / 10%);
}

main {
  transition: margin-left 0.5s;
  margin-left: 240px;
}

.logo {
  width: 55px;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 1rem;
}

.pr {
  padding-right: 0;
}

/* Main */
.main-content {
  min-height: 100vh;
  padding: 7rem 0 3rem 0;
  background-color: #f2f3f6;
}

.palette {
  padding: 1.85rem;
  background-color: rgba(251, 251, 251, 0.95);
  box-shadow: 1px 10px 20px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.palette:hover {
  background-color: #f3fdd8;
}

.palette-title,
.palette-title2 {
  color: #9fbe49;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  font-size: 0.875rem;
  font-weight: bold;
}

.details {
  color: #003144;
  margin-bottom: 0rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: bold;
}

.material-icons.md-60 {
  font-size: 60px;
}

.material-icons.cap-green {
  color: #003116
}

.shape2 {
  display: inline-block;
  width: 72px;
  height: 72px;
  background-size: cover;
}

.shape-products2 {
  background-image: url(../images/svg/products2.svg);
}

.shape-referrals2 {
  background-image: url(../images/svg/referrals2.svg);
}

.shape-agents2 {
  background-image: url(../images/svg/request-agent2.svg);
}

.shape-policy2 {
  background-image: url(../images/svg/policy2.svg);
}
/* Main */

footer {
  background-color: #232323;
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Devices.html */
.table-base {
  padding: 2.5rem;
  background-color: #fffafa;
  box-shadow: 1px 10px 20px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0 0 1rem 0;
}

.clickable-row {
  cursor: pointer;
}

.page-item.active .page-link {
  background-color: #2b6481;
}

.modal-header {
  border: none;
  background-color: #f2504a;
}

.device-info {
  font-weight: 500;
  color: #797979;
  margin-bottom: 5px;
}

.info {
  color: #003144;
  margin-left: 0.75rem;
}

.btn-client {
  background-color: #2b6481;
  color: white;
  font-size: 0.8rem;
  line-height: 1.6;
}

.btn-client:hover {
  background-color: #2b6481;
  color: white;
}
/* Devices.html */

@media (max-width: 575px) {
  .table-base {
    padding: 2.5rem 1.5rem;
  }
}
/* Devices.html */

/* Clients.html */
.header-two {
  background-color: #2b6481;
}
/* Clients.html */

/* Quotes.html */
.product {
  color: #003144;
  margin-bottom: 0rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: bold;
}
/* Quotes.html */

/* Policies.html */
.show {
  color: rgb(2, 172, 2);
  font-weight: 500;
}

.show-r {
  color: red;
  font-weight: 500;
}
/* Policies.html */

/* Products.html */
.products-palette {
  padding: 2.5rem;
  background-color: rgba(251, 251, 251, 0.45);
  box-shadow: 1px 10px 20px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.single-palette {
  padding: 1.5rem 1.25rem;
  background-color: #fffafa;
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  transition-duration: 500ms;
}

.single-palette:hover {
  box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.15), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(-4px);
}

.group-title {
  color: #003144;
  margin-bottom: 0rem;
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: 500;
}

.shape3 {
  display: inline-block;
  width: 54px;
  height: 54px;
  background-size: cover;
}
.personal-policy {
  background-image: url(../images/svg/life-insurance.svg);
}

.group-policy {
  background-image: url(../images/svg/group-insurance.svg);
}

@media (max-width: 575px) {
  .products-palette {
    padding: 2.5rem 1.5rem;
  }
}
/* Products.html */

/* Branches.html */
.single-palette2 {
  padding: 1.5rem 1.25rem;
  background-color: #fffafa;
  box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.palette-title2 {
  font-size: 1.2rem;
}

.address {
  font-size: 0.9rem;
  /* font-weight: 500; */
  color: #616161;
  line-height: 1.4;
}

.address-no {
  font-size: 0.9rem;
  /* font-weight: 500; */
  color: #b33035;
  line-height: 1.4;
}

.down {
  position: relative;
  top: 5px;
}
/* Branches.html */

/* ....................
 Media Queries
.................... */
@media (max-width: 1025px) {
}

@media (max-width: 768px) {
  #main-navbar {
    margin-left: 50px;
  }

  .sidenav {
    left: -190px;
  }

  #content-wrap {
    display: none;
  }

  main {
    margin-left: 50px;
  }
}

@media (max-width: 575px) {
}
