body {
  font-family: "Roboto", sans-serif;
  color: #232323;
  background-color: white;
}

.sidenav {
  height: 100%;
  width: 320px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8f8f8b9;
  overflow-x: hidden;
  padding: 3.5rem 2rem;
  transition: all 0.5s ease-in-out;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.sidenav .navbtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
  color: #232323;
}

main {
  transition: margin-left 0.5s;
  margin-left: 320px;
}

header {
  height: 15px;
  background-color: white;
}

/* About School */
#about {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 0;
}

#about #inner {
  position: relative;
  z-index: 2;
}

#about #back-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.05;
}

#particulars {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 2.4rem 0 2rem 0;
}

.logo {
  width: 70%;
}

.heading-text {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.025rem;
  text-transform: capitalize;
}

.body-text {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  text-align: justify;
  line-height: 1.4;
  margin-bottom: 0;
}

.signature {
  margin: 1.25rem 0 1rem 0;
}

.btn.btn-lg {
  font-family: "Roboto", sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 1.2rem 2rem;
  border-radius: 0.1rem;
  /* box-shadow: none; */
}

#myBtn,
#myBtn2,
#myBtn3,
#myBtn4,
#myBtn5,
#myBtn6 {
  color: #9fbe49 !important;
  font-weight: 500;
  text-decoration: none;
  padding-left: 0 !important;
  padding-top: 0.25rem !important;
}

.btn-school-light {
  color: #fff;
  background-color: #9fbe49;
}
.btn-school-light:hover {
  color: #fff;
}

.btn-school {
  color: #fff;
  background-color: #034722 !important;
}

.btn-school:hover {
  color: #fff;
}

.btn-colour-2 {
  color: black;
  background-color: white;
}
.btn-colour-2:hover {
  color: black;
}
.btn-colour-1 {
  color: white;
  background-color: white;
}
.btn-colour-1:hover {
  color: white;
}
.btn-colour-3 {
  color: white;
  background-color: #000000;
}
.btn-colour-3:hover {
  color: white;
}

/* School Pictures */
#gallery {
  background-color: #f6f6f6;
  padding: 3.5rem 0 4rem 0;
}

.zoom {
  overflow: hidden;
}

.zoom img {
  transition: transform 0.5s ease;
}

.zoom:hover img {
  transform: scale(1.1);
}

/* School Programmes */
#programmes {
  padding: 3.5rem 0 5rem 0;
  /* background-color: #f8f8f9; */
}

.accord {
  background-color: #fdc422;
  color: black;
  padding: 1.2rem 2.5rem;
  margin: 2px 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.4s ease;
}

.accord:after {
  content: "\002B";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.a-top {
  background-color: #000000;
  height: 10px;
}

.plane {
  padding: 1rem 3rem 0 3rem;
  background-color: white;
  transition: max-height 0.3s ease-out;
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.1); 
}


/* Video Links */
#video {
  background-color: #f6f6f6;
  padding: 4rem 0;
}

.cast {
  height: fit-content;
}

/* Logo & Buttons Area */
#website {
  padding: 3rem 0;
  background-color: #fff;
}

.logo-2 {
  width: 50%;
}

footer {
  height: 30px;
  background-color: #000000;
}

.show {
  font-weight: 600;
}

.modal-header {
  background-color: #9fbe49;
  text-transform: capitalize;
}

.mh-colour {
  background-color: #034722;
}

.md-form label {
  font-weight: 400;
  color: #7a7a7a;
}

.form-section-heading {
  font-size: 1.1rem;
}


/* ....................
 Media Queries
.................... */
@media (max-width: 1025px) {
  .sidenav {
    background-color: #f6f6f6f1;
    left: -270px;
  }

  #content-wrap {
    display: none;
  }

  main {
    margin-left: 50px;
  }

  #about #back-image {
    height: 100%;
  }
}

@media (max-width: 768px) {
  #about,
  #gallery,
  #history {
    padding: 4rem 0;
  }
  #programmes {
    padding: 2.5rem 0 4rem 0;
  }

  .btn.btn-lg {
    padding: 1rem 2rem;
    font-size: 0.87rem;
  }
}

@media (max-width: 575px) {
  body {
    font-size: 14px;
  }

  .heading-text {
    font-size: 18px;
  }

  .logo,
  .logo-2 {
    width: 60%;
  }
  #about,
  #gallery,
  #video {
    padding: 2.5rem 0;
  }

  .accordion {
    font-size: 15px;
    padding: 1.5rem;
  }

  .plane {
    padding: 1rem 1rem 0 1rem;
  }

  .body-text {
    font-size: 16px;
    text-align: left;
  }

  .signature {
    width: 150px;
  }
}


/* ..... */
a.toggle {
	color: #9fbe49;
  font-weight: 500;  
  text-decoration: none;  
}
a.toggle:visited {
	color: #9fbe49
}
a.togle.morelink {
	text-decoration:none;
	outline: none;
}
.morecontent span {
	display: none;
}
.comment {
	margin: 1px;
}

