{% extends 'base-dashboard.html' %}

{% block title %}
Boarding School Experts | Admin Dasboard
{% endblock %}

{% block style %}

{% endblock %}

{% block body %}  
  <div class="container">
    <div class="col-xl-11 my-4 mx-auto px-0">
      <div class="row">
        <div class="col-xl-3">
          <div>
            <a class="btn button-link" href="{{ url_for('new_school_info') }}">Add School Info</a>
          </div>
          <div class="mt-2">
            <a class="btn button-link" href="{{ url_for('new_school_images') }}">Add School Images</a>
          </div>
          <div class="mt-2">
            <a class="btn button-link" href="{{ url_for('new_school_thumbnails') }}">Add YouTube Images</a>
          </div>
          <div class="mt-2">
            <a class="btn button-link see" href="{{ url_for('new_school_forms') }}">Add School Forms</a>
          </div>
        </div>
      
        <div class="col-xl-9 mt-5 mt-xl-0">          
          <div>            
              <form action="" method="POST" enctype=multipart/form-data class="admin-forms" novalidate>
                {{ form.hidden_tag() }}
              
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }} text-center text-bold mb-0">                  
                        {{ message }}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <div class="row pt-2">
                  <div class="col-md-12 mt-4">
                    <div>
                      {{ form.schoolName(class="form-control form-select", placeholder="School Name")}}
                      {% for error in form.schoolName.errors %}
                      <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="col-md-12 mt-4">
                    <div>
                      <p class="show2 mt-2 mb-1">Upload Application Form (PDF)</p>
                      {{ form.appForm(class="form-control input-field", accept=".doc, .docx, .pdf") }}                      
                      {% for error in form.appForm.errors %}
                      <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                      {% endfor %}
                    </div>                    
                  </div>
                  <div class="col-md-12 mt-4">
                    <div class="custom-file-container" data-upload-id="Upload5">
                      <p class="show2 mt-2 mb-1">Upload Fees Sheet (PDF)</p>
                      {{ form.feesForm(class="form-control input-field", accept=".doc, .docx, .pdf") }}
                      {% for error in form.feesForm.errors %}
                      <span style="color: orangered; font-size: 13px;">{{ error }}</span>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="px-2 col-12 mt-4">
                    {{ form.submit(class="btn btn-school btn-block") }}
                  </div>
                </div>
              </form>
            </div>               
          </div>         
        </div>
      </div>      
    </div>    
  </div>  
{% endblock %}

{% block script %}

{% endblock %}