{% extends 'base-dashboard.html' %}

{% block title %}
Boarding School Experts | Admin Dasboard
{% endblock %}

{% block style %}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/file-upload-with-preview/4.1.0/file-upload-with-preview.min.css"
  integrity="sha512-joKDvh+eAWoVNKsL6T1spjb9TUTVLKzp9kD+BsfkKmy3RiwKlBK2A0fqSBmPOG0RW9jTvpNDjkX0Z02d3A6jbA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block body %}  
  <div class="container">
    <div class="col-xl-11 my-4 mx-auto px-0">
      <div class="row">
        <div class="col-xl-3">         
          <div class="nav flex-column nav-tabs text-center" id="v-tabs-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-tabs-home-tab" data-mdb-toggle="tab" href="#v-tabs-home" role="tab"
              aria-controls="v-tabs-home" aria-selected="true">School Information</a>
            <a class="nav-link" id="v-tabs-profile-tab" data-mdb-toggle="tab" href="#v-tabs-profile" role="tab"
              aria-controls="v-tabs-profile" aria-selected="false">School Pictures</a>
            <a class="nav-link" id="v-tabs-messages-tab" data-mdb-toggle="tab" href="#v-tabs-messages" role="tab"
              aria-controls="v-tabs-messages" aria-selected="false">School Forms</a>
          </div>          
        </div>
      
        <div class="col-xl-9 mt-5 mt-xl-0">
          <!-- Tab content -->
          <div class="tab-content" id="v-tabs-tabContent">
            <div class="tab-pane fade show active" id="v-tabs-home" role="tabpanel" aria-labelledby="v-tabs-home-tab">
              <form action="/admin/schools/add/information" method="POST" enctype=multipart/form-data class="admin-forms">
                {{ form.hidden_tag() }}
              
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center text-bold mb-0">                  
                  {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <div class="row pt-2">
                  <div class="col-md-6 mt-4">
                    <div>
                      {{ form.name(class="form-control", style="text-transform: capitalize;", placeholder="School Name") }}
                    </div>
                    <!-- <p class="field-text2 text-info"><small>Minimum 12 characters.</small></p> -->
                  </div>
                  <div class="col-md-6 mt-4">
                    <div>
                      {{ form.country(class="form-control form-select", style="text-transform: capitalize;", placeholder="Country") }}
                    </div>
                  </div>
                  <div class="col-md-4 mt-4">
                    <div>
                      {{ form.col1(class="form-control", placeholder="Theme Colour 1") }}
                    </div>
                  </div>
                  <div class="col-md-4 mt-4">
                    <div>
                      {{ form.col2(class="form-control", placeholder="Theme Colour 2") }}
                    </div>
                  </div>
                  <div class="col-md-4 mt-4">                    
                    {{ form.schoolType(class="form-control form-select")}}                    
                  </div>
                  <div class="col-md-4 mt-4">
                    <div>
                      {{ form.population(class="form-control", placeholder="Student Population") }}
                    </div>
                  </div>
                  <div class="col-md-8 mt-4">
                    <div>
                      {{ form.website(class="form-control", placeholder="School Website") }}
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="mt-4">
                      {{ form.address(class="form-control", placeholder="School Address", rows=2) }}
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="mt-4">
                      {{ form.about(class="form-control", placeholder="School Introduction", rows=8) }}
                    </div>
                  </div>
              
                  <div class="col-md-12 col-xl-6 mt-5">
                    <p class="show2 mb-2">Upload School Logo(PNG / JPEG / JPG)</p>
                    {{ form.logo(class="form-control input-field", id="file-input") }}                   
                    <div id="preview" class="mt-3"></div>
                  </div>
                  <div class="col-md-12 col-xl-6 mt-5">
                    <p class="show2 mb-2">Upload School Badge(PNG / JPEG / JPG)</p>
                    {{ form.badge(class="form-control input-field", id="file-input2") }}
                    <div id="preview2" class="mt-3"></div>
                  </div>
                  <div class="mt-5 text-center">
                    <p class="mb-2 show2">School Programmes</p>
                  </div>
                  <div class="col-12">
                    <div>
                      {{ form.facilities(class="form-control", placeholder="Boarding Facilities", rows=4) }}
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div>
                      {{ form.academics(class="form-control", placeholder="Academic Programmes", rows=4) }}
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div>
                      {{ form.extra(class="form-control", placeholder="Extra-Curricular Activities", rows=4) }}
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div>
                      {{ form.care(class="form-control", placeholder="Pastoral Care", rows=4) }}
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="col-lg-6">
                      <div>
                        {{ form.newHeading(class="form-control", placeholder="New Heading") }}
                      </div>
                    </div>
                    <div class="mt-2">
                      {{ form.newBody(class="form-control", placeholder="New Body", rows=4) }}
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="col-lg-6">
                      <div>
                        {{ form.newHeading2(class="form-control", placeholder="New Heading 2") }}
                      </div>
                    </div>
                    <div class="mt-2">
                      {{ form.newBody2(class="form-control", placeholder="New Body 2", rows=4) }}
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <div class="col-lg-6">
                      <div>
                        {{ form.newHeading3(class="form-control", placeholder="New Heading 3") }}
                      </div>
                    </div>
                    <div class="mt-2">
                      {{ form.newBody3(class="form-control", placeholder="New Body 3", rows=4) }}
                    </div>
                  </div>
              
                  <div class="mt-5 text-center">
                    <p class="mb-0 show2">YouTube Video Links</p>
                  </div>
                  <div class="col-md-6 mt-3">
                    <div>
                      {{ form.link1(class="form-control", placeholder="YouTube Link 1") }}
                    </div>
                  </div>
                  <div class="col-md-6 mt-3">
                    <div>
                      {{ form.link2(class="form-control", placeholder="YouTube Link 2") }}
                    </div>
                  </div>
                  <div class="col-md-6 mt-3">
                    <div>
                      {{ form.link3(class="form-control", placeholder="YouTube Link 3") }}
                    </div>
                  </div>
                  <div class="col-md-6 mt-3">
                    <div>
                      {{ form.link4(class="form-control", placeholder="YouTube Link 4") }}
                    </div>
                  </div>
                  <div class="col-md-6 mt-3">
                    <div>
                      {{ form.link5(class="form-control", placeholder="YouTube Link 5") }}
                    </div>
                  </div>
                  <div class="px-2 col-12 mt-4">
                    <input type="submit" class="btn btn-school" value="add School" />
                  </div>
                </div>
              </form>
            </div>

            <div class="tab-pane fade" id="v-tabs-profile" role="tabpanel" aria-labelledby="v-tabs-profile-tab">
            <form action="/admin/schools/add/images" method="POST" enctype=multipart/form-data class="admin-forms">
              {{ form2.hidden_tag() }}
            
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
              {% for category, message in messages %}
              <div class="alert alert-{{ category }} text-center text-bold mb-0">                
                {{ message }}
              </div>
              {% endfor %}
              {% endif %}
              {% endwith %}

              <div class="pt-2">
                <div class="col-md-12 mt-4">
                  <div>
                    {{ form.name(class="form-control form-select", placeholder="School Name")}}
                  </div>
                </div>
                <div class="col-md-12 mt-4">
                  <div>
                    <p class="show2 my-2">Upload School Images (PNG / JPEG / JPG)</p>
                    <input id="file-input2" class="input-field" type="file" multiple style="cursor: pointer" name="schoolPix[]">
                    <div id="preview2" class="mt-3"></div>
                  </div>
                </div>
                <div class="col-md-12 mt-5">
                  <div>
                    <p class="show2 my-2">Upload YouTube Thumbnail Images (PNG / JPEG / JPG)</p>
                    <input id="file-input3" class="input-field" type="file" multiple style="cursor: pointer" name="vidPix[]">
                    <div id="preview3" class="mt-3"></div>
                  </div>
                </div>
                <div class="px-2 col-12 mt-4">
                  <input type="submit" class="btn btn-school" value="add School" />
                </div>
              </div>
            </form>
            </div>

            <div class="tab-pane fade" id="v-tabs-messages" role="tabpanel" aria-labelledby="v-tabs-messages-tab">
              <form action="" method="POST" enctype=multipart/form-data class="admin-forms">
                {{ form.hidden_tag() }}
              
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} text-center text-bold mb-0">                  
                  {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="pt-2">
                  <div class="col-md-12 mt-4">
                    <div>
                      {{ form.name(class="form-control form-select", placeholder="School Name")}}
                    </div>
                  </div>
                  <div class="col-md-12 mt-4">
                    <div class="custom-file-container" data-upload-id="myUniqueUploadId">
                      <p class="show2 mt-2 mb-0">Upload School Forms (PDF) <a href="javascript:void(0)" class="custom-file-container__image-clear"
                      title="Clear Image">&times;</a></p>             
                      <label class="custom-file-container__custom-file">
                        <input type="file" class="custom-file-container__custom-file__custom-file-input" name="forms[]" accept="*" multiple
                          aria-label="Choose File">               
                        <span class="custom-file-container__custom-file__custom-file-control"></span>
                      </label>
                      <div class="custom-file-container__image-preview"></div>
                    </div>
                  </div>
                  
                  <div class="px-2 col-12 mt-4">
                    <input type="submit" class="btn btn-school" value="add School" />
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- Tab content -->
        </div>
      </div>      
    </div>    
  </div>  
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/file-upload-with-preview/4.1.0/file-upload-with-preview.min.js"
  integrity="sha512-Z41LlJOURucboITRl9uL5Y7GNfyxqS6+i9THsMWsOpvStxQjY/uGmU+5a3+4ddXeHZcUXZTeHI272bZPWkGF3w=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  var upload = new FileUploadWithPreview('myUniqueUploadId')
</script>
{% endblock %}

