{% extends 'base-dashboard.html' %}

{% block title %} 
Boarding School Experts | Admin Dasboard 
{% endblock %} 

{% block style %}
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block body %}
<div class="col-xl-11 mx-auto px-2">  
  <a class="btn btn-yellow my-2 fixed-button" href="{{ url_for('new_school_info') }}"style="padding: .625rem 1.5rem .5rem; font-size: .85rem;">
    Add School
  </a>  
  <div id="s-display">
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} text-center text-bold mt-3 mb-0">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="row px-2 mt-3">
        <div class="mt-3 px-4 py-5 p-lg-5 table-float">
          <div class="table-base">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap" id="schools">
                <thead>
                  <tr style="color: #003116">
                    <th scope="col">ID</th>
                    <th scope="col">School</th>
                    <th scope="col">Badge</th>
                    <th scope="col">Type</th>
                    <th scope="col">Country</th>
                    <th scope="col">Date Saved</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for school in schools %}
                    <tr class="clickable-row">
                      <th scope="row">{{ school.id }}</th>
                      <td style="text-transform: capitalize;"><strong>{{ school.schoolName }}</strong></td>
                      <td><img src="{{ url_for('uploaded', filename=school.logo) }}" height="33" alt="School logo" /></td>
                      <td class="cap"><strong>{{ school.schoolType }}</strong></td>
                      <td><strong>{{ school.country }}</strong></td>
                      <td><strong>{{ school.date.strftime('%B %d, %Y') }}</strong></td>
                      <td>
                        <a class="edit" href="/admin/schools/edit/{{ school.schoolName }}">edit</a>
                          <span class="mx-1">/</span>
                        <a class="erase" data-mdb-toggle="modal" type="button"
                            data-mdb-target="#del{{ school.id }}">delete</a>
                      </td>
                    </tr>

                    <div class="modal fade" id="del{{ school.id }}" tabindex="-1" aria-labelledby="formModalLabel2" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-body">
                            <div class="text-center p-3" style="font-size: 18px; text-transform: capitalize;">
                              Are you sure you want to delete <span class="warning">{{ school.schoolName }}</span> and all its information?
                            </div>
                            <div class="d-flex justify-content-center">
                              <div class="mx-3 py-3">
                                <button type="button" class="btn btn-dark" data-mdb-dismiss="modal" aria-label="Close">Close</button>
                                <a class="btn btn-danger del" href="/admin/schools/delete/{{ school.schoolName }}">delete</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
           
    </div>
  </div>
  
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
  integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}
