{% extends 'base-dashboard.html' %}


{% block title %} 
Boarding School Experts | Admin Dasboard 
{% endblock %} 

{% block body %}
<div class="col-xl-9 mx-auto px-2">
  <div class="mt-0 mt-md-5"></div>
  <div class="row">
    <div class="col-md-6 p-2">
      <a href="{{ url_for('dashboard_news') }}">
        <div class="palette">
          <p class="palette-title">News Articles</p>
          <p class="details">Add News Articles</p>
          <div class="text-end">
            <span class="material-icons md-60 cap-green"> description </span>
          </div>
        </div>
      </a>
    </div>    

    <div class="col-md-6 p-2">
      <a href="{{ url_for('country') }}">
        <div class="palette">
          <p class="palette-title">Countries</p>
          <p class="details">Add Countries</p>
          <div class="text-end">
            <span class="material-icons md-60 cap-green"> flag </span>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6 p-2">
      <a href="{{ url_for('admin_schools') }}">
        <div class="palette">
          <p class="palette-title">Schools</p>
          <p class="details">Add Schools</p>
          <div class="text-end">
            <span class="material-icons md-60 cap-green"> maps_home_work </span>
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-6 p-2">
      <a href="{{ url_for('logout') }}">
        <div class="palette">
          <p class="palette-title">Logout</p>
          <p class="details">Leave Admin Panel</p>
          <div class="text-end">
            <span class="material-icons md-60 cap-green"> logout </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
{% endblock %}
