{% extends 'base-dashboard.html' %} 


{% block title %} 
Boarding School Experts | Admin dashboard 
{% endblock %} 

{% block body %}
<div class="col-xl-10 my-4 mx-auto px-2">
  <a class="btn btn-yellow my-2 fixed-button" href="{{ url_for('new_article') }}" style="padding: .625rem 1.5rem .5rem; font-size: .85rem;">
    New Article
  </a>
  {% for item in news %}
  <div class="row mtop">
    <div class="col-md-3">
      <a>
        <img src="{{ url_for('uploaded', filename=item.image) }}" class="w-100" alt="News thumbnail" />
        <div class="date mt-3">{{ item.date.strftime('%B %d, %Y') }}</div>
      </a>
    </div>
    <div class="col-md-9 col-xl-8 pl-xl-4">
      <a>
        <div class="news-heading mb-2" style="text-transform: capitalize;">{{ item.title }}</div>
        <div class="date2 mb-4">By: {{ item.author }}</div>
        <p class="news-text" style="white-space: pre-line;">{{ item.excerpt }}...</p>
      </a>
      <div>
        <a class="btn btn-school-mellow my-2" href="/admin/news/articles/edit/{{ item.id }}">Edit</a>
        <a class="btn btn-danger my-2" class="del" href="/admin/news/articles/delete/{{ item.id }}">delete</a>
      </div>
      <div class="col-12 my-4">
        <hr class="bse-line" />
      </div>
    </div>    
  </div>
  {% endfor %}
</div>
{% endblock %}
