{% extends 'base-dashboard.html' %}

{% block title %} 
Boarding School Experts | Admin Dasboard 
{% endblock %} 

{% block style %}
<link rel="stylesheet" type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
{% endblock %}

{% block body %}
<div class="col-xl-11 mx-auto px-2">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-center text-bold mb-0">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row px-2 mt-5">
      <div class="mt-3 px-4 py-5 p-lg-5 table-float">
        <div class="table-base">
          <div class="table-responsive">
            <table class="table table-hover table-striped text-nowrap" id="countries">
              <thead>
                <tr style="color: #003116">
                  <th scope="col">ID</th>
                  <th scope="col">Country</th>
                  <th scope="col">Flag</th>
                  <th scope="col">Date Saved</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for country in countries %}
                  <tr class="clickable-row">
                    <th scope="row">{{ country.id }}</th>
                    <td><strong>{{ country.name }}</strong></td>
                    <td><img src="{{ url_for('uploaded', filename=country.flag) }}" width="50" alt="Country flag" /></td>
                    <td><strong>{{ country.date.strftime('%B %d, %Y') }}</strong></td>
                    <td><a class="erase" data-mdb-toggle="modal" type="button" data-mdb-target="#delete{{ country.id }}">delete</a></td>
                  </tr>

                  <div class="modal fade" id="delete{{ country.id }}" tabindex="-1" aria-labelledby="formModalLabel2" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-body">
                          <div class="text-center p-3" style="font-size: 18px;">
                            Are you sure you want to delete <span class="warning">{{ country.name }}</span>?
                          </div>
                          <div class="d-flex justify-content-center">
                            <div class="mx-3 py-3">
                              <button type="button" class="btn btn-dark" data-mdb-dismiss="modal" aria-label="Close">Close</button>
                              <a class="btn btn-danger" class="del" href="/admin/countries/delete/{{ country.id }}">delete</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>        
  </div>  
  <a class="btn btn-yellow my-2 fixed-button" data-mdb-toggle="modal" type="button" data-mdb-target="#formModal" style="padding: .625rem 1.5rem .5rem; font-size: .85rem;">
    Add Country
  </a>  
  
  <!-- Modals -->
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">          
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/admin/countries/add" method="POST" enctype=multipart/form-data class="mx-2 my-3 mx-md-4 my-md-4">            
            <div class="row">
              <div class="col-md-12 mt-4">
                <div class="form-outline">
                  <input type="text" name="name" class="form-control" style="text-transform: capitalize;" required />
                  <label class="form-label" for="name">Country</label>
                </div>
              </div>
              <div class="col-md-12 my-4">
                <div>
                  <label for="flag" class="form-label">Upload Country Flag Image</label>
                  <input type="file" class="form-control" name="flag" required />
                </div>
              </div>
              <div class="col-12">
                <input type="submit" class="btn btn-school" value="Add Country" />
              </div>
            </div>
          </form>
        </div>        
      </div>
    </div>
  </div> 

  
</div>
{% endblock %}

{% block script %}
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
{% endblock %}
