{% extends 'base-dashboard.html' %}


{% block title %} 
Boarding School Experts | Admin Dasboard 
{% endblock %} 


{% block body %}
<div class="col-xl-11 mx-auto px-2">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} text-center text-bold mb-0">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="row mt-5">
    {% for country in countries %}
      <div class="col-md-6 col-xl-4 p-3 mt-4">              
        <div class="text-center sl-text2">
          <img src="{{ url_for('uploaded', filename=country.flag) }}" class="w-100" alt="Country flag" />
          <p class="mt-2 mb-0" style="text-transform: capitalize;">{{ country.name }} Schools</p>
        </div> 
        <div class="text-center">        
          <a class="btn btn-danger my-3" data-id="{{ country.id }}" class="del some-but" data-mdb-toggle="modal" type="button" data-mdb-target="#formModal2">delete</a>
          <!-- <a class="btn btn-danger my-3" class="del" href="/admin/country/delete/{{ country.id }}">delete</a> --> 
          <input type="hidden" id="dt" name="dt" value="{{ country.id }}">     
        </div>
      </div>
    {% endfor %}    
  </div>  
  <a class="btn btn-yellow my-2 fixed-button" data-mdb-toggle="modal" type="button" data-mdb-target="#formModal" style="padding: .625rem 1.5rem .5rem; font-size: .85rem;">
    Add Country
  </a>  
  
  <!-- Modals -->
  <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">          
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/admin/countries/add" method="POST" enctype=multipart/form-data class="mx-2 my-3 mx-md-4 my-md-4">            
            <div class="row">
              <div class="col-md-12 mt-4">
                <div class="form-outline">
                  <input type="text" name="name" class="form-control" style="text-transform: capitalize;" required />
                  <label class="form-label" for="name">Country</label>
                </div>
              </div>
              <div class="col-md-12 my-4">
                <div>
                  <label for="flag" class="form-label">Upload Country Flag Image</label>
                  <input type="file" class="form-control" name="flag" required />
                </div>
              </div>
              <div class="col-12">
                <input type="submit" class="btn btn-school" value="Add Country" />
              </div>
            </div>
          </form>
        </div>        
      </div>
    </div>
  </div> 

  <div class="modal fade" id="formModal2" tabindex="-1" aria-labelledby="formModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">        
        <div class="modal-body">
          <div class="text-center warning p-3">
            Are You Sure You Want To Delete This Country?
            <input type="hidden" id="value" name="value" value="">
          </div>
          <div class="d-flex justify-content-center">            
            <div class="mx-2 py-3">
              
            </div>            
            <div class="mx-3 py-3">
             
              <button type="button" class="btn btn-dark" data-mdb-dismiss="modal" aria-label="Close">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
  //   $("#send_value").click(function () {
  //     var data = $("#value").val();
  //     var str = "You want to delete " + data + " ?"
  //     $("#modal_body").html(str);
  //   });
  
  $(document).on("click", ".some-but", function () {
      var data = $("#dt").val();
      $(".modal-body #value").val(myBookId);      
    });
  </script>
{% endblock %}
