{% extends 'base-dashboard.html' %}

{% block title %}
Boarding School Experts | Admin Dasboard
{% endblock %}

{% block body %}  
  <div class="container">
    <div class="col-xl-10 my-4 mx-auto px-0">
      <div class="text-md-center mb-4">
        <p class="form-bold mb-0 px-3">Edit News Article</p>
      </div>
      <form action="" method="POST" enctype=multipart/form-data class="admin-forms" novalidate>
        {{ form.hidden_tag() }}
      
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} text-center text-bold mb-0">               
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="row pt-2">
          <div class="col-md-12 mt-4">
            <div class="form-outline">
              {{ form.title(class="form-control", style="text-transform: capitalize;") }}
              {{ form.title.label(class="form-label") }}
            </div>
            {% for error in form.title.errors %}
            <span style="color: orangered; font-size: 13px;">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="col-md-12 mt-4">
            <div class="form-outline">
              {{ form.author(class="form-control", style="text-transform: capitalize;") }}
              {{ form.author.label(class="form-label") }}
            </div>
            {% for error in form.author.errors %}
            <span style="color: orangered; font-size: 13px;">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="col-md-10 col-lg-8 col-xl-6 mt-4">
            <div>
              <p class="show2 mb-2">Upload Article Image (PNG / JPEG / JPG)</p>
              {{ form.image(class="form-control input-field", accept="image/*") }}
              {% for error in form.image.errors %}
              <span style="color: orangered; font-size: 13px;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-12">
            <div class="form-outline mt-4">
              {{ form.excerpt(class="form-control", rows=5) }}
              {{ form.excerpt.label(class="form-label") }}
            </div>
            {% for error in form.excerpt.errors %}
            <span style="color: orangered; font-size: 13px;">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="col-12">
            <div class="form-outline mt-4">
              {{ form.article(class="form-control", rows=10) }}
              {{ form.article.label(class="form-label") }}
            </div>
            {% for error in form.article.errors %}
            <span style="color: orangered; font-size: 13px;">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="px-2 col-12 mt-4">
            {{ form.submit(class="btn btn-school") }}
            <a class="btn btn-school-light ml-md-2 mt-2" style="padding: .625rem 1.5rem .5rem; font-size: .85rem;"
              href="{{ url_for('dashboard_news') }}">
              Cancel
            </a>
          </div>
        </div>
      </form>
    </div>    
  </div>  
{% endblock %}
