{% extends 'base-dashboard.html' %}

{% block title %}
Boarding School Experts | Admin Dasboard
{% endblock %}

{% block body %}  
  <div class="container">
    <div class="col-xl-10 my-4 mx-auto px-0">
      <div class="text-md-center mb-4">
        <p class="form-bold mb-0 px-3">Edit News Article</p>
      </div>
      <form action="/admin/dashboard/news/edit/{{ news.id }}" method="POST" enctype=multipart/form-data class="admin-forms">
        <div class="row pt-2">
          <div class="col-md-12 mt-4">
            <div class="form-outline">
              <textarea name="title" rows="2" class="form-control"
                placeholder="Enter excerpt here..."  required>{{ news.title }}</textarea>
              <label class="form-label" for="title">Article Title</label>
            </div>            
          </div>
          <div class="col-md-12 mt-4">
            <div class="form-outline">                
              <input type="text" id="author" name="author" class="form-control" value="{{ news.author }}" style="text-transform: capitalize;" required/>
              <label class="form-label" for="author">Author Name</label>
            </div>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-6 mt-4">
            <div>
              <label for="thumbnail" class="form-label">Upload Thumbnail Image for Article</label>
              <input type="file" class="form-control" id="thumbnail" name="thumbnail" value="{{ news.thumbnail }}"/>    
            </div>
          </div>
          <div class="col-12">
            <div class="form-outline my-4">                
              <textarea name="excerpt" rows="5" class="form-control"
                placeholder="Enter excerpt here..." maxlength="350" required>{{ news.excerpt }}</textarea>
                <label class="form-label" for="excerpt">Article Excerpt</label>
            </div>
          </div>
          <div class="col-12">
            <div class="form-outline mb-4">                
              <textarea name="article" rows="10" class="form-control"
                placeholder="Enter article here..." required>{{ news.article }}</textarea>
                <label class="form-label" for="article">Article</label>
            </div>
          </div>      
          <div class="px-2 col-12">
            <input type="submit" class="btn btn-school mt-2" value="save article" />
            <a class="btn btn-school-light ml-md-2 mt-2" style="padding: .625rem 1.5rem .5rem; font-size: .85rem;" href="{{ url_for('dashboard') }}">
              Cancel
            </a>
          </div>
        </div>
      </form>
    </div>    
  </div>  
{% endblock %}
