{% extends 'base.html' %} 

{% block title %} 
Boarding School Experts | News 
{% endblock %} 

{% block body %}
<div id="news-hb">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="container">
      <div class="row">
        <div class="text-center w-100">
          <p class="bold-text" data-aos="fade-up">News & Announcements</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="nl-wrap px-2">
  <div class="container">
    {% for item in news %}
        <div class="row mtop justify-content-center">
            <div class="col-md-2">
                <a href="">
                    <img src="{{ url_for('uploaded', filename=item.image) }}" class="w-100" alt="News thumbnail" />
                    <div class="date mt-3">{{ item.date.strftime('%B %d, %Y') }}</div>
                </a>
            </div>
            <div class="col-md-10 col-xl-8 pl-xl-4 mb-2">
                <a href="/news/single/{{ item.id }}">
                    <div class="news-heading mb-2" style="text-transform: capitalize;">
                        {{ item.title }}
                    </div>
                    <div class="date2">By: {{ item.author }}</div>
                    <p class="news-text" style="white-space: pre-line;">
                        {{ item.excerpt }}...
                    </p>
                </a>
            </div>
        </div>
    {% endfor %}    
  </div>
</section>
{% endblock %}
