<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
          "gtm.start": new Date().getTime(),
          event: "gtm.js",
        });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PZC755D");
    </script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Boarding Schools Experts | News</title>

    <link rel="icon" href="../images/site-logo.png" type="image/x-icon" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    />
    <!-- Google Fonts Roboto -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;200;700&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Material Design Bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="libraries/intl-tel-input-master/build/css/intlTelInput.css"
    />
    <!-- Custom styles -->
    <link href="../css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PZC755D"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Project-->
    <div class="top-bar d-none d-md-block">
      <div class="container d-flex justify-content-center h-100">
        <div class="d-flex col-lg-4"></div>
        <div
          class="d-flex justify-content-end align-items-center px-md-4 col-md-4"
        >
          <i class="fas fa-phone-alt mr-2"></i>
          <p class="top-bar-text mb-0">+234 814 849 3618</p>
        </div>
        <div
          class="d-flex justify-content-center align-items-center col-md-6 col-lg-4"
        >
          <i class="fas fa-envelope mr-2"></i>
          <p class="top-bar-text mb-0">- info@boardingschoolsexperts.com</p>
        </div>
      </div>
    </div>
    <a href="../index.html" class="c-brand">
      <img src="../images/site-logo2.png" class="logo" id="logo" alt="Logo" />
      <div class="overlay"></div>
    </a>

    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
      <div class="container">
        <!-- Toggle button -->
        <button
          class="navbar-toggler ml-auto"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0 mt-4 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="../about.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../schools.html">Schools</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../agents.html">Agents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../contact.html">Contact Us</a>
            </li>
          </ul>
        </div>
        <!-- Collapsible wrapper -->
      </div>
    </nav>

    <main>
      <div id="news-item">
        <div class="container px-3 px-md-4">
          <div class="row">
            <div class="col-lg-9">
              <div class="news-heading mb-4">
                Study Abroad in Maine? #1 Safest State in the US
              </div>
              <div class="date">8 DECEMBER, 2020</div>
              <hr class="bse-line" />
              <div>
                <p class="shaded mb-4">
                  Maine has been ranked the
                  <a
                    href="https://www.moving.com/tips/here-are-the-10-safest-states-in-the-country/"
                    class="bse-green"
                    >#1 safest US state</a
                  > for 2020, and our two major cities are in the
                  <a
                    href="https://www.quickenloans.com/learn/safest-cities-in-us"
                    class="bse-green"
                    >top 15 safest cities</a
                  > in the US. 
                </p>
              </div>
              <div>
                <p class="news-text">
                  <img
                    src="../images/news-thumbnails/maine.jpg"
                    class="floated"
                    alt="Thumbnail"
                  />
                  We're so grateful to be located in southern Maine;
                  just minutes from the ocean and mountains, and easily
                  accessible from Boston and New York. Studying in Maine gives
                  our students opportunities to explore the world, and discover
                  their passions in a safe and supportive environment.<br /><br />
                  <span class="sm-t">
                    Email
                    <span class="bse-green"
                      >admissions@boardingschoolsexperts.com</span
                    >
                    for enquires.
                  </span>
                </p>
              </div>

              <div class="text-right">
                <a
                  href="news-best-private-school.html"
                  class="news-link"
                  style="font-weight: 600; font-size: small"
                  >Next Article</a
                >
              </div>
              <hr class="bse-line" />
            </div>
            <div class="col-lg-3 d-none d-lg-block">
              <div>
                <div class="col-11 ml-auto">
                  <div class="mb-3">
                    <p class="section-title">News Stories</p>
                  </div>
                  <div class="p-2">
                    <div class="thumbnail-wrap mb-2">
                      <img
                        src="../images/news-thumbnails/school-age.jpg"
                        class="w-100 nt-image"
                        alt="News thumbnail"
                      />
                    </div>
                    <a href="age-for-boarding-schools.html" class="news-link">
                      <p style="font-size: 0.87rem; font-weight: 500">
                        Could Sending Your Child To Boarding School At A Younger
                        Age, Actually Be Kinder?
                      </p>
                    </a>
                  </div>
                  <div class="p-2">
                    <div class="thumbnail-wrap mb-2">
                      <img
                        src="../images/news-thumbnails/a-level-scholarships-thumbnail.jpg"
                        class="w-100 nt-image"
                        alt="News thumbnail"
                      />
                    </div>
                    <a
                      href="news-hcs-a-level scholarships.html"
                      class="news-link"
                    >
                      <p style="font-size: 0.87rem; font-weight: 500">
                        Hereford Cathedral School A-Level Scholarships
                      </p>
                    </a>
                  </div>
                  <div class="p-2">
                    <div class="thumbnail-wrap mb-2">
                      <img
                        src="../images/news-thumbnails/thornton.png"
                        class="w-100 nt-image"
                        alt="News thumbnail"
                      />
                    </div>
                    <a href="news-best-private-school.html" class="news-link">
                      <p style="font-size: 0.87rem; font-weight: 500">
                        Best Private School in Maine for 2020
                      </p>
                    </a>
                  </div>
                  <div class="p-2">
                    <div class="thumbnail-wrap mb-2">
                      <img
                        src="../images/news-thumbnails/maine.jpg"
                        class="w-100 nt-image"
                        alt="News thumbnail"
                      />
                    </div>
                    <a href="news-study-abroad.html" class="news-link">
                      <p style="font-size: 0.87rem; font-weight: 500">
                        Study Abroad in Maine? #1 Safest State in the US
                      </p>
                    </a>
                  </div>
                  <div class="p-2">
                    <div class="thumbnail-wrap mb-2">
                      <img
                        src="../images/school-images/st-francis-college-images/St Francis Shield.png"
                        class="w-100 nt-image"
                        alt="News thumbnail"
                      />
                    </div>
                    <a href="news-st-francis.html" class="news-link">
                      <p style="font-size: 0.87rem; font-weight: 500">
                        St. Francis' College Introduces International Scholar's
                        Award
                      </p>
                    </a>
                  </div>
                  <div class="p-2">
                    <div class="thumbnail-wrap mb-2">
                      <img
                        src="../images/news-thumbnails/buckswood-news/law.jpg"
                        class="w-100 nt-image"
                        alt="News thumbnail"
                      />
                    </div>
                    <a href="news-buckswood.html" class="news-link">
                      <p style="font-size: 0.87rem; font-weight: 500">
                        BUCKSWOOD ONLINE January To June University Foundation
                        Course
                      </p>
                    </a>
                  </div>

                  <div>
                    <a
                      href="#!"
                      role="button"
                      class="btn btn-school btn-sm btn-block ml-0"
                      >See More</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="text-white">
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <p class="footer-header">Why Boarding Schools Experts</p>
            <ul class="mb-0 b-bullet">
              <li class="mb-1">
                We take the responsibility of searching, processing admission
                and assist in securing study visa for all our students.
              </li>
              <li class="mb-1">
                We help parents and students get the best options available in
                term of academic and financial expectations.
              </li>
              <li class="mb-1">
                We organize pre-departure briefing for all our students.
              </li>
              <li class="mb-1">
                We assure parents of continuous assistance during the child
                studies in our partners’ schools.
              </li>
              <li class="mb-1">
                We also offer Family and student advisory services all through
                the academic years of your children and wards.
              </li>
            </ul>
          </div>

          <div
            class="col-lg-3 col-md-4 mt-4 mt-lg-0 mb-4 mb-md-0 d-flex justify-content-lg-center"
          >
            <div>
              <p class="footer-header">Navigation Links</p>
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="../index.html" class="b-link">Home</a>
                </li>
                <li>
                  <a href="../about.html" class="b-link">About Us</a>
                </li>
                <li>
                  <a href="../services.html" class="b-link">Services</a>
                </li>
                <li>
                  <a href="../schools.html" class="b-link">Schools</a>
                </li>
                <li>
                  <a href="../agents.html" class="b-link">Agents</a>
                </li>
                <li>
                  <a href="../contact.html" class="b-link">Contact Us</a>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-lg-3 col-md-5 mb-4 mb-md-0 mt-4 mt-lg-0">
            <p class="footer-header">Enquiries</p>
            <div class="d-flex justify-content-start align-items-center mb-2">
              <i class="fas fa-phone-alt mr-3"></i>
              <p class="adf-text mb-0">+234 814 849 3618</p>
            </div>
            <div class="d-flex justify-content-start align-items-center mb-2">
              <i class="fas fa-envelope mr-3"></i>
              <p class="adf-text mb-0">info@boardingschoolsexperts.com</p>
            </div>
            <div class="d-flex justify-content-start align-items-start">
              <i class="fas fa-map-marker-alt mr-3"></i>
              <p class="adf-text mb-0">
                7, Aje Street, Sabo-Yaba, Lagos, Nigeria
              </p>
            </div>

            <div class="d-flex justify-content-start mt-4">
              <a
                href="https://web.facebook.com/Boarding-Schools-Experts-102632928407518"
                class="icon-link"
                target="_blank"
              >
                <div class="ring"><i class="fab fa-facebook-f"></i></div>
              </a>
              <a
                href="https://twitter.com/BSchoolsExperts?s=09"
                class="icon-link"
                target="_blank"
              >
                <div class="ring"><i class="fab fa-twitter"></i></div>
              </a>
              <a
                href="https://instagram.com/bschoolsexperts?igshid=hvslhw2xpi0m"
                class="icon-link"
                target="_blank"
              >
                <div class="ring"><i class="fab fa-instagram"></i></div>
              </a>
              <a
                href="https://www.linkedin.com/company/boarding-school-experts/"
                class="icon-link"
                target="_blank"
              >
                <div class="ring"><i class="fab fa-linkedin-in"></i></div>
              </a>
            </div>
          </div>
        </div>
        <!--Grid row-->
      </div>

      <!-- Copyright -->
      <div class="footer-base text-center small mt-4">
        <!-- © 2020 Copyright
            <a class="company-link ml-1" href="http://virtueconsult.com/"
              >Virtue Consult Ltd</a
            > -->
        <p class="mb-0 ft-text">
          Developed By<a
            class="ml-1 company-link"
            href="https://lumosstudio.tech/"
            target="_blank"
            >Lumos Studio</a
          >
        </p>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Project-->

    <!-- JQuery -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
    <!-- Bootstrap tooltips -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"
    ></script>
    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"
    ></script>
    <!-- MDB core JavaScript -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"
    ></script>
    <script src="libraries/intl-tel-input-master/build/js/intlTelInput.js"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="../js/script.js"></script>
  </body>
</html>
