{% extends 'base.html' %} 

{% block title %} 
Boarding School Experts | News 
{% endblock %} 

{% block body %}
  <div id="news-item">
    <div class="container px-3 px-md-4">
      <div class="row">
        <div class="col-lg-9">
          <div class="row">
              <div class="col-3">
                  <img src="{{ url_for('uploaded', filename=news.thumbnail) }}" class="w-100" alt="News thumbnail" />                
              </div> 
              <div class="col-9 news-heading mb-2" style="text-transform: capitalize;">
                  {{ news.title }}
                  <div class="date mt-3">{{ news.date.strftime('%B %d, %Y') }}</div>
                  <div class="date2 mt-2">By {{ news.author }}</div>
              </div>
          </div>            
          <div>
            <p class="news-text mt-2" style="white-space:pre-line;">
              {{ news.article }}<br /><br />              
            </p>
            <p class="sm-t" >
              Email
              <span><a class="bse-green" href="mailto:info@boardingschoolsexperts.com">info@boardingschoolsexperts.com</a></span>
              for enquires.
            </p>
          </div>
          <hr class="bse-line" />
        </div>
        <div class="col-lg-3 d-none d-lg-block">
          <div>
            <div class="col-11 ml-auto">
              <div class="mb-3">
                <p class="section-title">Latest Articles</p>
              </div>
              {% for item in last %}
                <div class="p-2">
                  <div class="thumbnail-wrap mb-2">
                    <img src="{{ url_for('uploaded', filename=item.thumbnail) }}" class="w-100 nt-image" alt="News thumbnail" />
                  </div>
                  <a href="/news/single/{{ item.id }}" class="news-link">
                    <p style="font-size: 0.87rem; font-weight: 500; text-transform: capitalize;">
                      {{ item.title }}
                    </p>
                  </a>
                </div>
              {% endfor %}            
              
              <div>
                <a
                  href="{{ url_for('news') }}"
                  role="button"
                  class="btn btn-school btn-block ml-0"
                  >See All Articles</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
